name: Build Docker Image

on:
  pull_request:
  workflow_call:

permissions:
  contents: read

jobs:
  docker-build:
    name: Build Docker
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Build Docker image (local only)
        id: build-image
        env:
          ECR_REGISTRY: local.test
          ECR_REPOSITORY: 'ssh_bastion'
          IMAGE_TAG: latest
        run: |
          docker build -t "$ECR_REGISTRY/$ECR_REPOSITORY:latest" .
